@model OperationViewModel

@{
    ViewData["Title"] = "Operations";
}

<div class="container">
    <h1>@Model.WebApiTitle</h1>
    <p><strong><a href="@Model.WebApiUrl">@Model.WebApiUrl</a></strong></p>

    <h2>Operations</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Operation</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApiGroups)
            {
                <tr>
                    <td>@item</td>
                    <td><a asp-route-operation="@item" asp-action="Index" asp-controller="Operations">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>